*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

_book

dist


book.epub

book.pdf

SUMMARY.md~

.gitignore~

Example.java~

buildBook.sh~

dist/reactiveJavaBook.epub

dist/reactiveJavaBook.pdf

dist/reactiveJavaBook/DownloadingAndInstallingVertx.html

dist/reactiveJavaBook/index.html

dist/reactiveJavaBook/IntroReactiveProgramming.html

dist/reactiveJavaBook/search_index.json

dist/reactiveJavaBook/UsingVert.xForServletDevelopment.html
